@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Utilities */
.hidden {
  display: none;
}

/* LAYOUT */
.startscreen {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
        flex-direction: column;
  }

  & .logo {
    width: 100%
  }

  & .btn {
    align-self: end;
    width: auto;
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    padding: 0.7rem 2.5rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    background-color: rgba(56, 247, 18, 0.6);
    top: 22rem;
    &:hover {
      background-color: rgba(56, 247, 18, 0.8);
    }
  }
}

.main {
  position: relative;
  width: 90%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
}

/* ELEMENTS */
.player {
  position: relative;
  flex: 50%;
  padding: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  opacity: 0.5;
  &__name {
    position: relative;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  &__score {
    font-size: 6rem;
    font-weight: 300;
    margin-bottom: auto;
    &-label {
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
  }
  &--active {
    background-color: #33333317;
    opacity: 1;
    & .player__name {
      font-weight: bold;
      color: #38f712;
    }
    & .player__score {
      font-weight: 400;
    }
    & .rounds-won {
      opacity: 1;
    }
  }
}

.rounds-won {
  opacity: 0.5;
  border-radius: 9px;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
  &__label {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &__score {
    font-size: 3.5rem;
  }
}

.you-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #38f712; /* green */
  color: #fff;
  font-weight: bold;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.8rem;
  z-index: 10;
}

.btn {
  width: 100%;
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  padding: 0.7rem 2.5rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  &--roll {
    background-color: rgba(56, 247, 18, 0.6);
    top: 22rem;
    &:hover {
      background-color: rgba(56, 247, 18, 0.8);
    }
  }
  &--stand {
    background-color: rgba(247, 18, 18, 0.6);
    color: white;
    top: 26rem;
    &:hover {
      background-color: rgba(247, 18, 18, 0.8);
    }
  }
  &:active {
    transform: translate(0px, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

.hidden {
  display: none;
}

.player--winner {
  background-color: rgba(255, 215, 0, 0.8);
  opacity: 1;
  & .player__name {
    font-weight: 700;
  }
  & .player__name,
  .player__score,
  .player__score-label,
  .rounds-won,
  .rounds-won__label,
  .rounds-won__score {
    color: #fff;
    opacity: 1;
  }
}

.centre {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex
;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.die {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s; 
}

.side {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: #f25f5c;
  box-shadow: inset 2px 2px #d90429;
}

/* Positions for dots */
.one-1, .three-2, .five-5 {
  top: 50%;
  left: 50%;
}

.two-1, .three-1, .four-1, .five-1, .six-1 {
  top: 20%;
  left: 20%; 
}

.two-2, .three-3, .four-4, .five-4, .six-6 {
  top: 80%;
  left: 80%; 
}

.four-3, .five-3, .six-4 {
  top: 20%;
  left: 80%; 
}

.four-2, .five-2, .six-3 {
  top: 80%;
  left: 20%; 
}

.six-2 {
  top: 50%;
  left: 20%; 
}

.six-5 {
  top: 50%;
  left: 80%; 
}

/* Cube face transformations */
.side:nth-child(1) {
  transform: translateZ(50px);
}

.side:nth-child(2) {
  transform: rotateY(90deg) translateZ(50px);
}

.side:nth-child(3) {
  transform: rotateY(180deg) translateZ(50px);
}

.side:nth-child(4) {
  transform: rotateY(-90deg) translateZ(50px);
}

.side:nth-child(5) {
  transform: rotateX(90deg) translateZ(50px);
}

.side:nth-child(6) {
  transform: rotateX(-90deg) translateZ(50px);
}

/* Dice roll animations */
.show-1 {
  transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
}

.show-2 {
  transform: rotateY(-90deg) rotateX(0deg) rotateZ(0deg);
}

.show-3 {
  transform: rotateY(180deg) rotateX(0deg) rotateZ(0deg);
}

.show-4 {
  transform: rotateY(90deg) rotateX(0deg) rotateZ(0deg);
}

.show-5 {
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

.show-6 {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}